.footer-section{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    background: #F8F8F8;
    padding-top:84px;
    /* padding-bottom: 60px; */
}
.footer-logo{
    margin-bottom: 3rem;
}
.contactus, .morefromus, .social-handles{
    display: flex;
    flex-direction: column;
    margin:4rem 0;
}
.contactus p,.morefromus p, .social-handles p{   
font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14.6559px;
line-height: 23px;
color: #646874;
}
.contactus .para{
    width:250px;
    height:48px;
    margin-bottom: 4rem;
}
.contactus h3, .morefromus h3, .social-handles h3{
font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 27px;
letter-spacing: 0.03em;
color: #0E2368;
margin-bottom: 2rem;
}
.social-handles{
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 5rem;
}
.facebook,.instagram,.twiter{
    font-size: 2.1rem;
    color: #0E2368;
    margin: 0 1rem;
}
@media (max-width:900px){
    .footer-section{
        flex-direction: column;
        align-items: center;
    }
    .contactus,.morefromus{
        align-items: flex-start;
        width: 90%;
    }
    .social-handles{
      align-items: center;
      text-align: center;
    }
    .social-handles h3{
        display: none;
    }
}
@media (max-width:400px) {
    .contactus .para{
       width:90%;
    }
    .card{
        width:100%;
    }

}
